<? versión xml = " 1.0 " codificación = " UTF-8 " ?>
< configuración >
    < sistema .webServer>
	< reescribir >
	  < reglas >
		 <!-- Quitar la barra diagonal '/' del final de la URL --> 
		< nombre de la regla  = " RewriteRequestsToPublic " >
		  < URL coincidente  = " ^(.*)$ " />
		  < condiciones  logicGrouping = " MatchAll "  trackAllCaptures = " false " >
		  </condiciones> _ _
		  < tipo de acción  = " Reescribir " url = " /{R:0} " /> 
		</regla> _ _

		<!-- Cuando el archivo o carpeta solicitado no existe, se solicitará nuevamente a través de index.php --> 
		< nombre de regla  = " Regla importada 1 " stopProcessing = " true " > 
		  < match  url = " ^(.*)$ "  ignoreCase = " true " />
		  < condiciones  logicGrouping = " MatchAll " >
			< agregar  entrada = " {REQUEST_FILENAME} "  matchType = " IsDirectory "  negar = " true " />
			< agregar  entrada = " {REQUEST_FILENAME} "  matchType = " IsFile "  negar = " true " />
		  </condiciones> _ _
		  < tipo de acción  = " Reescribir " url = " /index.php/{R:1} " appendQueryString = " true " />  
		</regla> _ _
	  </ reglas >
	</ reescribir >
    </ sistema .webServer>
</ configuración >